version: 2
jobs:
  build:
    machine: true

    working_directory: ~/repo
    steps:
      - checkout

      - run:
          name: Build frontend agency
          command: cd client/agency ; docker build -t dorianamouroux/immohub-agency:latest .

      - run:
          name: Build frontend immohub
          command: cd client/immohub ; docker build -t dorianamouroux/immohub:latest .

      - run:
          name: Build backend immohub
          command: cd server ; docker build -t dorianamouroux/immohub-backend:latest .
